@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  background-color: #01273d;
  font-family: 'Sarala', sans-serif;
  margin: 12px;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
.cacalho-texto {
  font-family: 'Righteous', cursive;
  color: #AAB9BF;
  font-weight: 400;
  font-size: 18px;
}
.cabecalho-img {
  height: 120px;
}
.conteudo {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-top: 0.8px solid #e9edf0;
  border-bottom: 0.8px solid #e9edf0;
}
.conteudo-principal{
  display:flex ;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  margin: 24px;
  border-bottom: 0.8px solid #e9edf0;
}
.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
}
.conteudo-principal-escrito-titulo{
  font-family: 'Righteous', cursive;
  font-weight: 400px;
  font-size: 35px;
  color: #AAB9BF;
}
.conteudo-principal-img {
  width: 250px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(245, 241, 241, 0.4);
}
.conteudo-container1 {
  height: 100%;
  border-radius: 12px;
  padding:24px;
  box-shadow: #e9edf0 0px 7px 29px 0px;
  align-items: center;
  gap: 12px;
  margin: 10px;
}
.conteudo-container2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  padding:24px;
  box-shadow: #e9edf0 0px 7px 29px 0px;
  align-items: center;
  gap: 12px;
  margin: 10px;
}
.titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400px;
  font-size: 24px;
  text-align: center;
  color: #AAB9BF;
  margin: 12px;
  
}
li {
  align-items: center;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;

}
.botao {
  background-color: #022E40;
  color:#AAB9BF;
  margin: 12px;
  padding: 12px;
  border: none;
  box-shadow: 2px 3px #e9edf0;
  border-radius: 20px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 18px;
}
.conteudo-terceario-principal {
  border-radius: 12px;
  padding: 12px;
  box-shadow: rgb(27, 26, 26) 0px 7px 29px 0px;
  align-items: center;
  margin: 12px;
}
.titulo-principal {
text-align: center;
font-family: 'Righteous', cursive;
font-weight: 400px;
font-size: 33px;
color: #e9edf0;
border-bottom: 0.8px solid #01273D;
}
.imagem-whatsapp {
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #e9edf0;
}
p {
  text-align: justify;
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer{
  height: 200px;
}
a {
  text-align: center;
  font-size: 16px;
  color: #AAB9BF;
}
