@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  background-color: #01273d;
  font-family: 'Sarala', sans-serif;
  margin: 12px;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
.cacalho-texto {
  font-family: 'Righteous', cursive;
  color: #AAB9BF;
  font-weight: 400;
  font-size: 18px;
}
.cabecalho-img {
  height: 120px;
}
.apresentacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-top: 0.8px solid #e9edf0;
  border-bottom: 0.8px solid #e9edf0;
  gap: 20px;
}
#titulo1 {
  font-family: 'Righteous', cursive;
  font-weight: 400px;
  color: #AAB9BF;
}
#foto {
  width: 230px;
  margin: 1px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(245, 241, 241, 0.4);
}
.conteudo {
  height: 100%;
  padding:12px;
  align-items: center;
  gap: 12px;
  margin: 10px;
  text-decoration: none;
}
ul{
  margin: 12px;
}
li {
  text-align: left;
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
  color: white;
}
#titulo2 {
  font-family: 'Righteous', cursive;
  font-weight: 220px;
  text-align: center;
  color: #AAB9BF;
  margin: 10px; 
}
.container { 
  color: white;
  margin-top: 20px;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px  #e9edf0 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.espaco-botao {
  margin: 30px;
}
.botao {
  background-color: #022E40;
  color:#AAB9BF;
  margin: 24px;
  padding: 24px;
  box-shadow:3px #e9edf0;
  border-radius: 20px;
  font-family: 'Righteous', cursive;
}
#titulo3 {
text-align: center;
font-family: 'Righteous', cursive;
font-weight: 220px;
color: #e9edf0;
margin: 12px;
}
p {
  text-align: justify;
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagem-whatsapp {
  text-align: center;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #e9edf0;
}
.logo-footer{
  height: 200px;
}
a {
  text-align: center;
  font-size: 16px;
  color: #AAB9BF;
}
