@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: linear-gradient(71deg, #fec3e2f6 1%, rgba(234, 230, 231, 1) 100%);  
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.cacalho--imagem {
    height: 72px;
}
.cabecalho-menu {
    display: flex;
    gap: 12px;
}
.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;
    height: 100vh;
    width: 100vw;
}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column ;
    gap: 10px;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Smooch', cursive;
    font-weight: 400;
    font-size: 84px;
    color: #e72958;
}
.conteudo-principal-escrito-subtitulo {
    text-align: end;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:black;
}
.butoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
}
.butão-conteudo-principal {
    background-color: #e72958;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px,5px, 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}
.conteudo-principal-imagem {
    border-radius: 20px;
    margin: 20px;
    width: 450px;
    border-radius: 20px;
}
.redes-sociais {
    height: 60px;
    width: 60px;
    margin: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}
 footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 10px;
    font-size: 16px;
    color: black;
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;
}